<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		    id          = "TV_Guide"
        version     = "1.0.0" >

    <name>TV Guide</name>
    <description>Projekt na zaliczenia BAI</description>
    <author>
		Arkadiusz Blechaisen, Damian Gajda
	</author>
	<platform name="android" />
  <access origin="*" />
	<plugin name="cordova-plugin-whitelist"/>
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
  <plugin name="cordova-plugin-network-information" spec="~1.3.2" />
  <plugin name="cordova-plugin-calendar" />
	<plugin name="cordova-plugin-splashscreen" />
	<plugin name="cordova-plugin-x-socialsharing" />
  <platform name="android">
        <splash src="www/img/splash.jpg"/>
			  <icon src="www/img/icon.jpg" />
  </platform>

</widget>
